.window {


position: absolute;

width: 800px;

height: 550px;

background: white;

border-radius: 18px;

overflow: hidden;

box-shadow:
    0 15px 40px rgba(
        0,
        0,
        0,
        .25
    );

animation:
    windowOpen .2s ease;


}

.title-bar {


height: 42px;

display: flex;

align-items: center;

justify-content: space-between;

padding: 0 12px;

color: white;

background:
    linear-gradient(
        90deg,
        #60a5fa,
        #8b5cf6
    );


}

.window-buttons {


display: flex;

gap: 6px;


}

.window-buttons button {


width: 34px;

height: 30px;

border: none;

border-radius: 8px;

cursor: pointer;

transition:
    .15s;


}

.window-buttons button:hover {


transform:
    scale(1.08);


}

.window-content {


height: calc(100% - 42px);

overflow: auto;

padding: 12px;


}

.window.minimized {


display: none;


}

.window.maximized {


top: 0 !important;
left: 0 !important;

width: 100vw !important;
height: calc(
    100vh - 56px
) !important;

border-radius: 0;


}

@keyframes windowOpen {


from {

    opacity: 0;

    transform:
        scale(.9);
}

to {

    opacity: 1;

    transform:
        scale(1);
}


}
